* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #bcbebc;
  font-family: "Montserrat", sans-serif;
}

p {
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

h2 span {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

p.sub_par {
  font-size: 1em;
  line-height: 25px;
}

.container {
  width: 1000px;
  margin: auto;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #038484;
  color: #FFFFFF;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 0.85em;
  padding: 0 18px;
}
.btn:hover {
  background-color: #52bbba;
}

.btn.second {
  background-color: transparent;
  color: #038484;
  border: 1px solid #038484;
  margin-left: 20px;
}
.btn.second:hover {
  background-color: #52bbba;
  color: #FFFFFF;
  border: 1px solid #52bbba;
}

span {
  color: #1e2d36;
}

span.background {
  color: #038484;
  background-color: #cfe3e4;
  padding: 0 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.margin_bottom {
  margin-bottom: 30px;
}

.main_par {
  text-transform: uppercase;
  color: #52bbba;
  font-weight: 700;
  font-size: 0.8em;
}

.navbar_h {
  height: 100%;
  line-height: 70px;
}
.navbar_h li {
  display: inline-block;
  text-transform: uppercase;
  margin: 0px 6px;
  color: #1d2023;
  cursor: pointer;
  font-weight: 300;
  line-height: 35px;
  padding: 1px 10px;
}
.navbar_h .btn {
  font-size: 1em;
}

.active_li {
  background-color: #cfe3e4;
  border-radius: 5px;
}

#header_top {
  width: 100%;
  height: 40px;
  background-color: #1e2d36;
  color: #bcbebc;
  font-size: 0.85em;
}
#header_top #infos {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
}
#header_top #infos i {
  margin-right: 5px;
}
#header_top #infos_left, #header_top #infos_right {
  height: 100%;
  line-height: 40px;
}
#header_top #infos_left p {
  color: #bcbebc;
  font-weight: 400;
}
#header_top #infos_right li {
  display: inline-block;
  margin: 0px 10px;
}

#header_bottom {
  width: 100%;
  height: 730px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: white;
}
#header_bottom::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-parallax.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  transform: scale(1.32);
  z-index: -1;
}
#header_bottom #navbar {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  height: 70px;
  background-color: transparent;
}
#header_bottom #navbar_left {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
#header_bottom #navbar_left img {
  height: 40px;
}
#header_bottom #navbar_right li > a {
  color: #1d2023;
  font-family: "Poppins", sans-serif;
}
#header_bottom .jumbotron {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  overflow: hidden;
}
#header_bottom .jumbotron .jumbo_select {
  position: absolute;
  top: 45%;
  left: 95%;
}
#header_bottom .jumbotron .jumbo_select > span {
  display: block;
  cursor: pointer;
  width: 8px;
  height: 28px;
  background-color: transparent;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #038484;
}
#header_bottom .jumbotron .jumbo_select > span.j_active {
  background-color: #038484;
}
#header_bottom #jumbotron_center {
  background-color: transparent;
  position: absolute;
  text-align: center;
  top: 200px;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
}
#header_bottom #jumbotron_center .btn {
  font-size: 1em;
  height: 42px;
  line-height: 42px;
}
#header_bottom #jumbotron_center h1 {
  margin-bottom: 10px;
}
#header_bottom #jumbotron_center h1 span {
  font-size: 2.4em;
  font-weight: 800;
}
#header_bottom #jumbotron_center p {
  font-size: 1.3em;
  width: 90%;
  margin: 10px auto 40px;
}

#services {
  background-color: #eef1ed;
  width: 100%;
  padding: 90px 0;
}
#services .btn {
  font-size: 1.1em;
}
#services #see_all {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
}
#services #see_all > p {
  width: 70%;
}

.services_boxes {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services_boxes .box {
  width: calc(100%/3 - 20px);
  height: 230px;
  padding: 35px 30px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: white;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
}
.services_boxes .box_top {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: flex-start;
}
.services_boxes .box_top i:nth-child(1) {
  font-size: 2.9em;
  color: #038484;
}
.services_boxes .box_top i:nth-child(2) {
  font-size: 1.4em;
  color: #52bbba;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}
.services_boxes .box_top i:nth-child(2):hover {
  color: #56808e;
  background-color: #52bbba;
}

#the_company {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 750px;
  background-color: #111117;
  position: relative;
}
#the_company .bullets {
  width: 130px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: 50%;
  filter: opacity(30%);
  transform: translateX(-50%);
}
#the_company .bullets::before {
  content: "";
  display: block;
  background-image: url("../img/bullets.png");
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  width: 100%;
  height: 100%;
  transform: scale(2.3);
}
#the_company .bullets:nth-last-child(2) {
  top: calc(100% - 30px);
}
#the_company > img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#the_company .company {
  height: 100%;
  width: 50%;
}
#the_company .company span {
  color: #FFFFFF;
}
#the_company .company span.background {
  background-color: #102328;
  margin-left: 0;
  margin-right: 5px;
}
#the_company .company.left {
  padding: 90px 5px;
  color: #FFFFFF;
  display: flex;
  display: -ms-flexbox;
}
#the_company .company.left #right_item {
  width: 490px;
  margin-left: auto;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
}
#the_company .company.left #right_item p.sub_par {
  color: #bcbebc;
  width: 95%;
}
#the_company .company.right {
  background-image: url("../img/about-4.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}
#the_company #company_boxes {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
}
#the_company #company_boxes .box {
  width: calc(100%/2);
  margin-bottom: 30px;
}
#the_company #company_boxes .box i {
  color: #52bbba;
  margin-right: 5px;
}

#actions_projects_container {
  padding: 90px 0;
}

#actions_projects .up_container {
  text-align: center;
}
#actions_projects #projects_boxes {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
}
#actions_projects #projects_boxes .box:nth-child(1)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../img/project-1.jpg");
}
#actions_projects #projects_boxes .box:nth-child(2)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../img/project-2.jpg");
}
#actions_projects #projects_boxes .box:nth-child(3)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../img/project-3.jpg");
}
#actions_projects #projects_boxes .box:nth-child(4)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../img/project-4.jpg");
}
#actions_projects #projects_boxes .box:nth-child(5)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../img/project-5.jpg");
}
#actions_projects #projects_boxes .box:nth-child(6)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url("../img/project-6.jpg");
}
#actions_projects #projects_boxes .box {
  position: relative;
  width: calc(100%/3 - 20px);
  height: 315px;
  border-radius: 10px;
  margin: 10px 0;
  overflow: hidden;
}
#actions_projects #projects_boxes .box:hover::before {
  transform: scale(1.1);
  filter: blur(1px);
}
#actions_projects #projects_boxes .box .box_description {
  position: absolute;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 30px 0;
}
#actions_projects #projects_boxes .box .box_description:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#actions_projects #projects_boxes .box .box_description .box_top {
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  padding: 0 30px;
}
#actions_projects #projects_boxes .box .box_description .box_top i {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}
#actions_projects #projects_boxes .box .box_description h3 {
  font-size: 1.5em;
}
#actions_projects #projects_boxes .box .box_description p.sub_par {
  color: #FFFFFF;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  display: none;
}
#actions_projects #projects_boxes .box .box_description:hover p, #actions_projects #projects_boxes .box .box_description:hover i {
  display: block;
}

#results {
  width: 100%;
  height: 515px;
  background-image: url("../img/bg-7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#results_container {
  text-align: center;
  padding: 90px 0;
  color: #FFFFFF;
}
#results_container span {
  color: #FFFFFF;
}
#results_container span.background {
  background-color: rgba(3, 119, 120, 0.2);
  margin-right: 5px;
}
#results_container .numbers_boxes {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  margin-top: 90px;
}
#results_container .numbers_boxes .box h3 {
  font-size: 1.6em;
  font-weight: 600;
}
#results_container .numbers_boxes .box p {
  font-size: 2.5em;
  font-weight: 700;
  color: #038484;
  margin-bottom: 10px;
}

#logos {
  width: 100%;
  height: 250px;
  background-color: #111117;
  padding: 90px 0;
}
#logos_container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#logos_container img {
  max-width: 100px;
  filter: contrast(1%);
}
#logos_container img:nth-child(2) {
  max-width: 60px;
}

#form {
  background-color: #FFFFFF;
  padding: 90px 0;
  width: 100%;
}
#form_container {
  display: flex;
  display: -ms-flexbox;
  height: 100%;
}
#form .form_details.left {
  width: 70%;
}
#form .form_details.left form {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin: 40px 0;
}
#form .form_details.left form ::-moz-placeholder {
  font-size: 0.85em;
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
#form .form_details.left form :-ms-input-placeholder {
  font-size: 0.85em;
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
#form .form_details.left form ::placeholder {
  font-size: 0.85em;
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
#form .form_details.left form .btn {
  margin-top: 30px;
  font-size: 1.1em;
}
#form .form_details.left form textarea, #form .form_details.left form input {
  resize: none;
  color: initial;
  background-color: #eef1ed;
  outline: none;
  display: block;
  border: none;
  width: calc(50% - 20px);
  padding: 10px;
  margin: 10px 20px 10px 0;
  font-size: 20px;
  border-radius: 5px;
}
#form .form_details.left form textarea {
  width: 100%;
}
#form .form_details.left form .custom-select {
  position: relative;
  width: calc(50% - 20px);
  background-color: #eef1ed;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 20px 10px 0;
  height: 43px;
  padding: 0 10px;
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
}
#form .form_details.left form .custom-select p {
  color: #1e2d36;
  font-weight: 300;
  line-height: 43px;
  font-size: 1.1em;
}
#form .form_details.left form .custom-select i {
  font-size: 1.2em;
  color: #55626A;
}
#form .form_details.left form .custom-select select {
  display: none;
  /*hide original SELECT element:*/
}
#form .form_details.right {
  width: 30%;
  margin-left: 30px;
}
#form .form_details.right .btn {
  font-size: 1.1em;
  margin-left: 0;
}
#form .form_details.right h3, #form .form_details.right p {
  margin-bottom: 25px;
}
#form .form_details.right ul {
  margin: 30px 0;
}
#form .form_details.right li {
  margin: 15px 0;
}
#form .form_details.right li a {
  color: #1e2d36;
  font-weight: 200;
  font-size: 1.1em;
}
#form .form_details.right li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  color: #038484;
  background-color: #eef1ed;
  text-align: center;
}

#footer_top {
  width: 100%;
  padding: 90px 0;
  background-color: #111117;
  height: 510px;
}
#footer_top_container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0;
}
#footer_top_container .footer_box {
  width: calc(100%/4 - 20px);
  height: 100%;
}
#footer_top_container .footer_box.first li {
  margin: 10px 0;
}
#footer_top_container .footer_box.first p {
  color: #bcbebc;
  width: 90%;
  margin: 20px 0;
}
#footer_top_container .footer_box ul:not(.first) li:first-child {
  margin-bottom: 20px;
}
#footer_top_container .footer_box ul:not(.first) li {
  margin: 5px 10px;
}
#footer_top_container .footer_box li.list_title {
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: 600;
}
#footer_top_container .footer_box i {
  margin-right: 10px;
}
#footer_top_container .footer_box:not(.first) {
  border-radius: 5px;
  background-color: #18181d;
  padding: 30px;
}
#footer_top_container .footer_box.first img {
  max-width: 150px;
}
#footer_top_container .footer_box.first .btn {
  margin-left: 0;
  font-size: 1.1em;
  color: #FFFFFF;
  margin-top: 10px;
}

#footer_bottom {
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #0F0F12;
}
#footer_bottom > i {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 50%;
  background-color: #19191b;
  color: #0f1417;
  padding: 12px;
}
#footer_bottom_container {
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
}
#footer_bottom_container p {
  font-size: 0.9em;
  color: #FFFFFF;
}
#footer_bottom_container p a {
  color: #038484;
}
#footer_bottom_container p a:hover {
  color: #FFFFFF;
}
