* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #bcbebc;
}

h2 span {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
}

p.sub_par {
  font-size: 1.2em;
}

.container {
  width: 1000px;
  margin: auto;
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: #038484;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 42px;
  font-size: 1em;
  padding: 0 18px;
}
.btn:hover {
  background-color: #52bbba;
}

.btn.second {
  background-color: transparent;
  color: #038484;
  border: 1px solid #038484;
  margin-left: 20px;
}
.btn.second:hover {
  background-color: #52bbba;
  color: #FFFFFF;
  border: 1px solid #52bbba;
}

span {
  color: #1e2d36;
}

span.background {
  color: #038484;
  background-color: #cfe3e4;
  padding: 0 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.margin_bottom {
  margin-bottom: 30px;
}

.main_par {
  text-transform: uppercase;
  color: #52bbba;
}

#header_top {
  width: 100%;
  height: 40px;
  background-color: #1e2d36;
  color: #bcbebc;
}
#header_top #infos {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
}
#header_top #infos i {
  margin-right: 5px;
}
#header_top #infos_left, #header_top #infos_right {
  height: 100%;
  line-height: 40px;
}
#header_top #infos_right li {
  display: inline-block;
  margin: 0px 15px;
}

#header_bottom {
  width: 100%;
  height: 800px;
  background-color: white;
}
#header_bottom #navbar {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  height: 70px;
  background-color: transparent;
}
#header_bottom #navbar_left {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
#header_bottom #navbar_left img {
  height: 40px;
}
#header_bottom #navbar_right {
  height: 100%;
  line-height: 70px;
}
#header_bottom #navbar_right li {
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  margin: 0px 15px;
  font-size: 1.2em;
  color: #1d2023;
  cursor: pointer;
}
#header_bottom .jumbotron {
  width: 100%;
  height: calc(100% - 70px);
  position: relative;
  overflow: hidden;
}
#header_bottom .child {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg-parallax.png");
  background-repeat: no-repeat;
  background-position: center -25px;
  overflow: hidden;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  transform: scale(1.4);
}
#header_bottom #jumbotron_center {
  background-color: transparent;
  position: absolute;
  text-align: center;
  top: 200px;
  left: 50%;
  width: 500px;
  transform: translateX(-50%);
}
#header_bottom #jumbotron_center h1 {
  margin-bottom: 10px;
}
#header_bottom #jumbotron_center h1 span {
  font-size: 2.5em;
  font-weight: bold;
}
#header_bottom #jumbotron_center p {
  font-size: 1.4em;
  margin-bottom: 40px;
}

#services {
  background-color: #eef1ed;
  width: 100%;
  padding: 90px 0;
}

#services_container #see_all {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
}
#services_container #see_all > p {
  width: 70%;
}

.services_boxes {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services_boxes .box {
  width: calc(100%/3 - 20px);
  height: 230px;
  padding: 40px 30px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: white;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
}
.services_boxes .box_top {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: flex-start;
}
.services_boxes .box_top i:nth-child(1) {
  font-size: 2.9em;
  color: #038484;
}
.services_boxes .box_top i:nth-child(2) {
  font-size: 1.4em;
  color: #52bbba;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
}
.services_boxes .box_top i:nth-child(2):hover {
  color: #56808e;
  background-color: #52bbba;
}

#the_company {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 750px;
  background-color: black;
}
#the_company .company {
  height: 100%;
  width: 50%;
}
#the_company .company span {
  color: #FFFFFF;
}
#the_company .company span.background {
  background-color: #102328;
  margin-left: 0;
}
#the_company .company.left {
  padding: 90px 5px;
  color: #FFFFFF;
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-end;
}
#the_company .company.left #right_item {
  width: 60%;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
}
#the_company .company.right {
  background-image: url("../img/about-4.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}
#the_company #company_boxes {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
}
#the_company #company_boxes .box {
  width: calc(100%/2);
  margin-bottom: 30px;
}
