* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #bcbebc;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: #038484;
}

p {
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}

h2 span {
  font-size: 1.9em;
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

p.sub_par {
  font-size: 1em;
  line-height: 25px;
}

.container {
  width: 1000px;
  margin: auto;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #038484;
  color: #FFFFFF;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 0.85em;
  padding: 0 18px;
  transition: background-color 0.4s;
}
.btn > a {
  color: #FFFFFF;
  font-size: 0.9em;
}
.btn:hover {
  background-color: #52bbba;
}

.btn.second {
  background-color: transparent;
  color: #038484;
  border: 1px solid #038484;
  margin-left: 20px;
  transition: all 0.4s;
}
.btn.second > a {
  color: #038484;
}
.btn.second:hover {
  background-color: #52bbba;
  border: 1px solid #52bbba;
}
.btn.second:hover a {
  color: #FFFFFF;
}

span {
  color: #1e2d36;
}

span.background {
  color: #038484;
  background-color: #cfe3e4;
  padding: 0 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.margin_bottom {
  margin-bottom: 30px;
}

.main_par {
  text-transform: uppercase;
  color: #52bbba;
  font-weight: 700;
  font-size: 0.8em;
}

.navbar_h {
  height: 100%;
  line-height: 70px;
}
.navbar_h li {
  display: inline-block;
  text-transform: uppercase;
  color: #1d2023;
  cursor: pointer;
  font-weight: 300;
  line-height: 35px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.navbar_h li > a {
  color: #1d2023;
}
.navbar_h li:not(:last-child) {
  margin: 0px 6px;
  padding: 1px 10px;
}
.navbar_h .btn {
  font-size: 1em;
}

.active_li {
  background-color: #cfe3e4;
  border-radius: 5px;
}

.opaYes {
  opacity: 1;
}

.opaNo {
  opacity: 0;
}

#header_top {
  width: 100%;
  height: 40px;
  background-color: #1e2d36;
  color: #bcbebc;
  font-size: 0.85em;
}
#header_top #infos {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
}
#header_top #infos i {
  margin-right: 5px;
}
#header_top #infos_left, #header_top #infos_right {
  height: 100%;
  line-height: 40px;
}
#header_top #infos_left p {
  color: #bcbebc;
  font-weight: 400;
}
#header_top #infos_right li {
  display: inline-block;
  margin: 0px 10px;
}

#navbar {
  width: 100%;
  background-color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
#navbar #navbar_container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  height: 70px;
  background-color: transparent;
}
#navbar #navbar_container #navbar_left {
  display: flex;
  display: -ms-flexbox;
  align-items: center;
}
#navbar #navbar_container #navbar_left img {
  height: 40px;
}
#navbar #navbar_container #navbar_right li > span.main_navbar {
  transition: all 0.4s ease-out;
}
#navbar #navbar_container #navbar_right li > span.main_navbar:hover {
  color: #038484;
}

#header_bottom {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
}
#header_bottom #jumbo_select {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}
#header_bottom #jumbo_select > span {
  display: block;
  cursor: pointer;
  width: 8px;
  height: 28px;
  background-color: transparent;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 1px solid #038484;
}
#header_bottom #jumbo_select > span.j_active {
  background-color: #038484;
}
#header_bottom .jumbotron {
  transition: all 0.4s linear;
  width: 100%;
  height: 100%;
  position: relative;
}
#header_bottom .jumbotron .container {
  height: 100%;
  display: flex;
  display: -ms-flexbox;
}
#header_bottom .jumbotron .container.jumbo_center_transition_left {
  justify-content: flex-end;
  align-items: center;
  transform: translateX(800px);
}
#header_bottom .jumbotron .container.jumbo_center_transition_right {
  justify-content: flex-start;
  align-items: center;
  transform: translateX(-800px);
}
#header_bottom .jumbotron.carousel_right {
  transform: translateX(800px);
}
#header_bottom .jumbotron.carousel_center {
  transform: translateX(0);
}
#header_bottom .jumbotron.carousel_left {
  transform: translateX(-800px);
}
#header_bottom .jumbotron > img {
  position: absolute;
  bottom: 116px;
  width: 100%;
  transform: scale(1.94);
}
#header_bottom #jumbotron_center {
  background-color: transparent;
  text-align: center;
  margin: auto;
  width: 500px;
}
#header_bottom #jumbotron_center.jumbo_center_transition_left, #header_bottom #jumbotron_center.jumbo_center_transition_right {
  margin: 0;
}
#header_bottom #jumbotron_center .btn {
  font-size: 1em;
  height: 42px;
  line-height: 42px;
}
#header_bottom #jumbotron_center h1 {
  margin-bottom: 10px;
}
#header_bottom #jumbotron_center h1 span {
  font-size: 2em;
  font-weight: 800;
}
#header_bottom #jumbotron_center p {
  font-size: 1.2em;
  width: 90%;
  margin: 10px auto 40px;
}

@media (max-width: 1430px) {
  #header_bottom {
    height: 596px;
  }
  #header_bottom .jumbotron > img {
    transform: scale(1.94);
  }
}
@media (max-width: 1200px) {
  #header_bottom {
    height: 538px;
  }
  #header_bottom .jumbotron > img {
    transform: scale(2.1);
  }
}
.appear-title-enter, .appear-par-enter {
  opacity: 0;
  transform: scale(0);
}

.appear-title-enter-active {
  transition: all 0.4s ease;
  transition-delay: 0.5s;
}

.appear-par-enter-active {
  transition: all 0.4s ease;
  transition-delay: 1.5s;
}

.appear-btn-enter {
  transform: translateY(30px);
  opacity: 0;
}

.appear-btn-enter-active {
  transition: all 0.4s ease;
  transition-delay: 2.5s;
}

#services {
  background-color: #eef1ed;
  width: 100%;
  padding: 90px 0;
}
#services .btn {
  font-size: 1.1em;
}
#services #see_all {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
}
#services #see_all > p {
  width: 70%;
}

.services_boxes {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services_boxes .box {
  width: calc(100%/3 - 20px);
  height: 230px;
  padding: 35px 30px;
  margin: 15px 0;
  border-radius: 10px;
  background-color: white;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.4s ease-out;
}
.services_boxes .box:hover {
  transform: translateY(-7.5px);
}
.services_boxes .box:hover a > i {
  color: #56808e;
}
.services_boxes .box:hover a > i::after {
  -webkit-animation: pulse 1.5s infinite;
          animation: pulse 1.5s infinite;
}
.services_boxes .box_top {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: flex-start;
}
.services_boxes .box_top > i:nth-child(1) {
  font-size: 2.9em;
  color: #038484;
}
.services_boxes .box_top a > i {
  text-align: center;
  font-size: 1.4em;
  color: #52bbba;
  position: relative;
  cursor: pointer;
  width: 27px;
  height: 27px;
  padding: 4px;
  transition: all 0.4s ease-out;
}
.services_boxes .box_top a > i::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #52bbba;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  1% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 170%;
    height: 170%;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  1% {
    opacity: 1;
    width: 100%;
    height: 100%;
  }
  100% {
    opacity: 0;
    width: 170%;
    height: 170%;
  }
}
#about {
  display: flex;
  display: -ms-flexbox;
  width: 100%;
  height: 750px;
  background-color: #111117;
  position: relative;
}
#about #right_up_container {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}
#about #right_up_container.results_anim {
  transform: translateY(0);
  opacity: 1;
}
#about .btn {
  font-size: 1em;
  height: 42px;
  line-height: 42px;
}
#about .bullets {
  width: 130px;
  height: 50px;
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: 50%;
  filter: opacity(30%);
  transform: translateX(-50%);
}
#about .bullets::before {
  content: "";
  display: block;
  background-image: url("../img/bullets.png");
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  width: 100%;
  height: 100%;
  transform: scale(2.3);
}
#about .bullets:nth-last-child(2) {
  top: calc(100% - 30px);
}
#about > img {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#about .company {
  height: 100%;
  width: 50%;
}
#about .company span {
  color: #FFFFFF;
}
#about .company span.background {
  background-color: #102328;
  margin-left: 0;
  margin-right: 5px;
}
#about .company.left {
  padding: 90px 5px;
  color: #FFFFFF;
  display: flex;
  display: -ms-flexbox;
}
#about .company.left #right_item {
  width: 490px;
  margin-left: auto;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
}
#about .company.left #right_item p.sub_par {
  color: #bcbebc;
  width: 95%;
}
#about .company.right {
  background-image: url("../img/about-4.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}
#about #company_boxes {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}
#about #company_boxes.results_anim {
  transform: translateY(0);
  opacity: 1;
}
#about #company_boxes .box {
  width: calc(100%/2);
  margin-bottom: 30px;
}
#about #company_boxes .box i {
  color: #52bbba;
  margin-right: 5px;
}
#about #button_container {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
}
#about #button_container.results_anim {
  transform: translateY(0);
  opacity: 1;
}

#actions_projects_container {
  padding: 90px 0;
}

#projects .up_container {
  text-align: center;
}
#projects_boxes {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}
#projects_boxes .box-item > img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
}
#projects_boxes .box-item:hover > img {
  transform: scale(1.1);
  filter: blur(1px);
}
#projects_boxes .box-item:hover .box_description .box_bottom {
  transform: translateY(-15px);
}
#projects_boxes .box-item:hover .box_description p.sub_par {
  opacity: 1;
}
#projects_boxes .box-item .box_description {
  position: absolute;
  display: flex;
  display: -ms-flexbox;
  flex-direction: column;
  justify-content: space-between;
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 30px 5px;
}
#projects_boxes .box-item .box_description:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#projects_boxes .box-item .box_description .box_top {
  display: flex;
  display: -ms-flexbox;
  justify-content: flex-end;
  padding: 0 30px;
}
#projects_boxes .box-item .box_description .box_top i {
  font-size: 1.5em;
  cursor: pointer;
  opacity: 0;
  color: #FFFFFF;
  transition: all 0.4s ease-out;
}
#projects_boxes .box-item .box_description .box_bottom {
  transform: translateY(40px);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#projects_boxes .box-item .box_description h3 {
  font-size: 1.5em;
}
#projects_boxes .box-item .box_description p.sub_par {
  color: #FFFFFF;
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
  line-height: 20px;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#projects_boxes .box-item .box_description:hover i {
  opacity: 1;
}

#results {
  width: 100%;
  height: 515px;
  background-image: url("../img/bg-7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#results_container {
  text-align: center;
  padding: 90px 0;
  color: #FFFFFF;
}
#results_container span {
  color: #FFFFFF;
}
#results_container span.background {
  background-color: rgba(3, 119, 120, 0.2);
  margin-right: 5px;
}
#results_container #numbers_boxes {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  margin-top: 90px;
  transform: translateY(30px);
  opacity: 0;
  transition: all 0.5s;
}
#results_container #numbers_boxes.results_anim {
  transform: translateY(0);
  opacity: 1;
}
#results_container #numbers_boxes .box h3 {
  font-size: 1.6em;
  font-weight: 600;
}
#results_container #numbers_boxes .box p {
  font-size: 2.5em;
  font-weight: 700;
  color: #038484;
  margin-bottom: 10px;
}

#logos {
  width: 100%;
  height: 250px;
  background-color: #111117;
  padding: 90px 0;
}
#logos_container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#logos_container img {
  max-width: 100px;
  filter: contrast(1%);
}
#logos_container img:nth-child(2) {
  max-width: 60px;
}

#form {
  background-color: #FFFFFF;
  padding: 90px 0;
  width: 100%;
}
#form_container {
  display: flex;
  display: -ms-flexbox;
  height: 100%;
}
#form .form_details.left {
  width: 70%;
}
#form .form_details.left form {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  margin: 40px 0;
}
#form .form_details.left form ::-moz-placeholder {
  font-size: 0.85em;
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
#form .form_details.left form :-ms-input-placeholder {
  font-size: 0.85em;
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
#form .form_details.left form ::placeholder {
  font-size: 0.85em;
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
#form .form_details.left form .btn {
  margin-top: 30px;
  font-size: 1.1em;
}
#form .form_details.left form textarea, #form .form_details.left form input {
  resize: none;
  color: initial;
  background-color: #eef1ed;
  outline: none;
  display: block;
  border: none;
  width: calc(50% - 20px);
  padding: 10px;
  margin: 10px 20px 10px 0;
  font-size: 20px;
  border-radius: 5px;
}
#form .form_details.left form textarea {
  width: 100%;
}
#form .form_details.left form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  background: url("../img/chevron-down-solid.svg") 95% center no-repeat #eef1ed;
  background-size: auto 35%;
  border: none;
  width: calc(50% - 20px);
  padding: 10px;
  height: 43px;
  margin: 10px 20px 10px 0;
  font-size: 1.2em;
  color: #1e2d36;
  font-weight: 200;
  font-family: "Montserrat", sans-serif;
}
#form .form_details.right {
  width: 30%;
  margin-left: 30px;
}
#form .form_details.right .btn {
  font-size: 1.1em;
  margin-left: 0;
}
#form .form_details.right h3, #form .form_details.right p {
  margin-bottom: 25px;
}
#form .form_details.right ul {
  margin: 30px 0;
}
#form .form_details.right li {
  margin: 15px 0;
}
#form .form_details.right li a {
  color: #1e2d36;
  font-weight: 200;
  font-size: 1.1em;
}
#form .form_details.right li i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  color: #038484;
  background-color: #eef1ed;
  text-align: center;
}

.box-item {
  overflow: hidden;
  border-radius: 10px;
  width: calc(100%/3 - 20px);
  height: 315px;
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 10px 0;
  opacity: 1;
  transform: scale(1);
}

.box-enter, .box-leave-to {
  transform: scale(0);
  opacity: 0;
}

.box-leave-active {
  transform: translateY(0px);
  transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}

#footer_top {
  width: 100%;
  padding: 90px 0;
  background-color: #111117;
  height: 510px;
}
#footer_top_container {
  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0;
}
#footer_top_container button > a {
  color: #FFFFFF;
}
#footer_top_container .footer_box {
  width: calc(100%/4 - 20px);
  height: 100%;
}
#footer_top_container .footer_box.first li {
  margin: 10px 0;
}
#footer_top_container .footer_box.first p {
  color: #bcbebc;
  width: 90%;
  margin: 20px 0;
}
#footer_top_container .footer_box ul:not(.first) li:first-child {
  margin-bottom: 20px;
}
#footer_top_container .footer_box ul:not(.first) li {
  margin: 5px 10px;
}
#footer_top_container .footer_box li.list_title {
  color: #FFFFFF;
  font-size: 1.4em;
  font-weight: 600;
}
#footer_top_container .footer_box i {
  margin-right: 10px;
}
#footer_top_container .footer_box:not(.first) {
  border-radius: 5px;
  background-color: #18181d;
  padding: 30px;
}
#footer_top_container .footer_box.first img {
  max-width: 150px;
}
#footer_top_container .footer_box.first .btn {
  margin-left: 0;
  font-size: 1.1em;
  color: #FFFFFF;
  margin-top: 10px;
}

#footer_bottom {
  width: 100%;
  height: 70px;
  position: relative;
  background-color: #0F0F12;
}
#footer_bottom > i {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.3em;
  text-align: center;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #0f1417;
  box-shadow: 0px 0px 10px 0px black;
  transition: all 0.2s;
}
#footer_bottom_container {
  height: 100%;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  justify-content: space-between;
}
#footer_bottom_container p {
  font-size: 0.9em;
  color: #FFFFFF;
}
#footer_bottom_container p a {
  color: #038484;
}
#footer_bottom_container p a:hover {
  color: #FFFFFF;
}
