<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.css" integrity="sha512-f73UKwzP1Oia45eqHpHwzJtFLpvULbhVpEJfaWczo/ZCV5NWSnK4vLDnjTaMps28ocZ05RbI83k2RlQH92zy7A==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <title>Consultant</title>
  </head>
  <body>
    <!-- VUE CONTAINER -->
    <div id="root">
      <!-- HEADER TOP -->
      <div id="header_top">
        <div id="infos" class="container">
          <div id="infos_left">
            <p><i :class="'fas fa-' + openingTime[0]"></i>{{openingTime[1]}}</p>
          </div>
          <div id="infos_right">
            <ul>
              <li v-for="value in mainInfosNav"><i :class="'fas fa-' + value[1]"></i><a :href="value[0]">{{value[2]}}</a></li>
              <li v-for="value in social"><a :href="value[0]"><i :class="'fab fa-' + value[1]"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- HEADER TOP - STICKY NAVBAR -->
      <nav id="navbar">
        <div id="navbar_container" class="container">
          <div id="navbar_left">
            <img :src="'img/' + mainLogo" alt="">
          </div>
          <div id="navbar_right">
            <ul class="navbar_h">
              <li v-for="(value, key, index) in mainNavBar" @click="scroll(key)"><span class="main_navbar">{{key}}</span></li>
              <li>
                 <button class="btn"><a :href="'getInTouchButton'">GET IN TOUCH</a></button>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!-- MAIN HEADER -->
      <header>
        <!-- HEADER BOTTOM -->
        <div id="header_bottom">
          <!-- MAIN JUMBOTRON-->
          <div class="jumbotron" :class="carouselDir">
            <img src="img/bg-parallax.png" alt="">
            <div class="container" :class="jumboCentTransition">
              <div id="jumbotron_center" :class="jumboCentTransition">
                <transition name="appear-title">
                  <h1 v-if="show"> <span>Ready</span> <span class="background">Team</span> </h1>
                </transition>
                <transition name="appear-par">
                  <p v-if="show">No matter what your company needs, we will be ready to assist you in the best possible way</p>
                </transition>
                <transition name="appear-btn">
                  <div v-if="show" class="btn_transition">
                    <button class="btn"><a :href="'getInTouchButton'">GET IN TOUCH</a></button>
                    <button class="btn second"><a :href="readMoreBtn">READ MORE</a></button>
                  </div>
                </transition>
              </div>
            </div>
          </div>
          <!-- JUMBOTRON BACKGROUND SELECTION-->
          <div id="jumbo_select">
            <span v-for="n in 3" :class="(n == jIndex) ? jActive : ''" @click="[carousel(n), jIndex = n]"></span>
          </div>
        </div>
      </header>
      <!-- /MAIN HEADER -->

      <!-- MAIN -->
      <main>
        <!-- SERVICES -->
        <div id="services">
          <div id= "services_container" class="container">
            <p class="margin_bottom main_par" >our business area</p>
            <h2 class="margin_bottom main_titles"> <span>Excellence in</span> <span class="background">Services</span> </h2>
            <div id="see_all" class="margin_bottom">
              <p class="sub_par">We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of experienced and renowed professionals. There are some options that you can hire.</p>
              <button class="btn"><a :href="seeAllBtn">SEE ALL</a></button>
            </div>
            <div class="services_boxes">
              <div v-for="value in services" class="box">
                <div class="box_top">
                  <i :class="'fas fa-' + value[1]"></i>
                  <a :href="value[0]"><i class="fas fa-arrow-right"></i></a>
                </div>
                <h3>{{value[2]}}</h3>
                <p class="sub_par">Lorem ipsum dolor sit amet consectetur adisciping elit.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- ABOUT -->
        <div id="about">
          <div class="bullets"></div>
          <img src="img/bullets.png" alt="">
          <img src="" alt="">
          <div class="company left">
            <div id="right_item">
              <div id="right_up_container" :class="companyAnim">
                <p class="margin_bottom main_par" >about the network</p>
                <h2 class="margin_bottom main_titles"> <span class="background">The</span> <span>Company</span> </h2>
                <p class="sub_par">For 12 years we have been providing audit and warranty, financial advice, risk advice, taxes and related services to select clients.</p>
              </div>
              <div id="company_boxes" :class="coboxesAnim">
                <div class="box">
                  <h3 class="margin_bottom"><i class="fas fa-medal"></i> Tradition</h3>
                  <p class="sub_par">Lorem ipsum dolor sit amet consectetur adisciping elit.</p>
                </div>
                <div class="box">
                  <h3 class="margin_bottom"><i class="fas fa-lock"></i> Security</h3>
                  <p class="sub_par">Lorem ipsum dolor sit amet consectetur adisciping elit.</p>
                </div>
                <div class="box">
                  <h3 class="margin_bottom"><i class="far fa-edit"></i> Certificate</h3>
                  <p class="sub_par">Lorem ipsum dolor sit amet consectetur adisciping elit.</p>
                </div>
                <div class="box">
                  <h3 class="margin_bottom"><i class="fas fa-graduation-cap"></i> Expertise</h3>
                  <p class="sub_par">Lorem ipsum dolor sit amet consectetur adisciping elit.</p>
                </div>
              </div>
              <div id="button_container" :class="buttonsAnim">
                <button class="btn"><a :href="'getInTouchButton'">GET IN TOUCH</a></button>
                <button class="btn second"><a :href="readMoreBtn">READ MORE</a></button>
              </div>
            </div>
          </div>
          <div class="bullets"></div>

          <div class="company right"></div>
        </div>
        <!-- PROJECTS -->
        <div id="projects">
          <div id="actions_projects_container" class="container">
            <div class="up_container">
              <p class="margin_bottom main_par" >we do more for everyone</p>
              <h2 class="margin_bottom main_titles"> <span>Actions &</span> <span class="background">Projects</span> </h2>
              <ul class="navbar_h">
                <li v-for="(type, index) in projectsTypes" :class="(index == indexProjectsMenu) ? activeLi : '' " @click="indexProjectsMenu = index">{{type}}</li>
              </ul>
            </div>
            <div class="bottom_container">
              <transition-group name="box" id="projects_boxes" tag="div">
                <span v-for="(item, index) in filteredProjects" class="box-item" :key="item.id">
                  <img :src="'img/' + item.imgSrc" alt="">
                  <div class="box_description">
                    <div class="box_top">
                      <a :href="item.link"><i class="fas fa-arrow-right"></i></a>
                    </div>
                    <div class="box_bottom">
                      <h3>{{item.title}}</h3>
                      <p class="sub_par">{{item.paragraph}}</p>
                    </div>
                  </div>
                </span>
                <!-- <span v-for="item in items" :key="item" class="list-complete-item"> {{ item }} </span> -->
              </transition-group>
            </div>
          </div>
        </div>
        <!-- RESULTS -->
        <div id="results">
          <div id="results_container" class="container">
            <p class="margin_bottom main_par" >what are we doing</p>
            <h2 class="margin_bottom main_titles"> <span class="background">Results</span> <span>in Numbers</span> </h2>
            <div id="numbers_boxes" :class="resultsAnim">
              <div v-for="value in results" class="box">
                <p>{{value.countStart}}</p>
                <h3>{{value.target}}</h3>
              </div>
            </div>
          </div>
        </div>
        <!-- LOGOS -->
        <div id="logos">
          <div id="logos_container" class="container">
            <img v-for="logo in partnersLogo" :src="'img/' + logo" alt="">
          </div>
        </div>
        <!-- FORM -->
        <div id="form">
          <div id="form_container" class="container">
            <div class="form_details left">
              <p class="margin_bottom main_par" >send a message</p>
              <h2 class="margin_bottom main_titles"> <span>Get in</span> <span class="background">Touch</span> </h2>
              <p class="sub_par">We will respond to your message as soon as possible.</p>
              <form id="contact_form" action="index.html" method="post">
                <input type="text" name="" value="" placeholder="Name">
                <input type="text" name="" value="" placeholder="Email">
                <input type="text" name="" value="" placeholder="Phone">
                <select form="contact_form">
                  <option value="0" disabled selected>More Info</option>
                  <option value="1">Audit & Assurance</option>
                  <option value="2">Financial Advisory</option>
                  <option value="3">Analytics and M&A</option>
                  <option value="4">Middle Marketing</option>
                  <option value="5">Legal Consulting</option>
                  <option value="6">Regulatory Risk</option>
                  <option value="7">Other</option>
                </select>
                <textarea rows="5" placeholder="Message"></textarea>
                <button type="submit" class="btn">SEND</button>
              </form>
            </div>
            <div class="form_details right">
              <h3>Example Inc.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adisciping elit.</p>
              <p>Praesent diam lacus, dapibus sed imperdiet consectetur.</p>
              <ul>
                <li v-for="info in mainInfos"><a :href="info[0]"><i :class="'fas fa-' + info[1]"></i>{{info[2]}}</a></li>
              </ul>
              <button class="btn second"><a :href="viewMapBtn">VIEW MAP</a></button>
            </div>
          </div>
        </div>
      </main>
      <!-- /MAIN -->

      <!-- FOOTER -->
      <footer>
        <div id="footer_top">
          <div id="footer_top_container" class="container">
            <div class="footer_box first">
              <img :src="'img/' + mainLogo" alt="">
              <p>A functional HTML Template for Coorporate & Business</p>
              <ul class="first">
                <li v-for="info in mainInfos"><a :href="info[0]"><i :class="'fas fa-' + info[1]"></i>{{info[2]}}</a></li>
              </ul>
              <button class="btn second"><a :href="inTouchBtn">GET IN TOUCH</a></button>
            </div>
            <div class="footer_box">
              <ul>
                <li class="list_title">About</li>
                <li v-for="elem in aboutLinks"><a :href="elem.link"><i class="fas fa-chevron-right"></i>{{elem.name}}</a></li>
              </ul>
            </div>
            <div class="footer_box">
              <ul>
                <li class="list_title">Services</li>
                <li v-for="elem in servicesLinks"><a :href="elem.link"><i class="fas fa-chevron-right"></i>{{elem.name}}</a></li>
              </ul>
            </div>
            <div class="footer_box">
              <ul>
                <li class="list_title">Support</li>
                <li v-for="elem in supportLinks"><a :href="elem.link"><i class="fas fa-chevron-right"></i>{{elem.name}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="footer_bottom">
          <div id="footer_bottom_container" class="container">
            <p>Enjoy the low price.We are tracking any intention of piracy.</p>
            <p><i class="far fa-copyright"></i> 2020 NEXTGEN is Powered by <a href="#">Codings</a> </p>
          </div>
          <i class="fas fa-arrow-up" :class="topBtn" @click="scrollToTop()"></i>
        </div>
      </footer>
      <!-- /FOOTER -->
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
