* {
  @include boxSizing;
  margin: 0;
  padding: 0;
}

body {
  font-size: $fontSizeMain;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: $lightgray;
  font-family: 'Montserrat', sans-serif;
  &:hover {
    color: $blueLagoon;
  }
  // cursor: pointer;
}

p {
  color: $bigstone;
  font-weight: 200;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  span {
    font-size: 1.9em;
  }
}

h3 {
  font-size: 1.7em;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

p.sub_par {
  font-size: 1em;
  line-height: 25px;
}

.container {
  @include centered;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: $blueLagoon;
  color: $colorWhite;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  font-size: 0.85em;
  padding: 0 18px;
  transition: background-color 0.4s;
  & > a {
    color: $colorWhite;
    font-size: 0.9em;
  }
  &:hover {
    background-color: $fountainBlue;
  }
}

.btn.second {
  background-color: transparent;
  color: $blueLagoon;
  border: 1px solid $blueLagoon;
  margin-left: 20px;
  transition: all 0.4s;
  & > a {
    color: $blueLagoon;
  }
  &:hover {
    background-color: $fountainBlue;
    border: 1px solid $fountainBlue;
  }
  &:hover a {
    color: $colorWhite;
  }
}

span {
  color: $bigstone;
}
span.background {
  @include spanBackground($blueLagoon, $backGroundWordGray);
  padding: 0 10px;
  margin-left: 5px;
  border-radius: 5px;
}

.margin_bottom {
  margin-bottom: 30px;
}

.main_par {
  text-transform: uppercase;
  color: $fountainBlue;
  font-weight: 700;
  font-size: 0.8em;
}

.navbar_h {
  height: 100%;
  line-height: $navbarHeight;
  li {
    display: inline-block;
    text-transform: uppercase;
    margin: 0px 6px;
    color: #1d2023;
    cursor: pointer;
    font-weight: 300;
    line-height: 35px;
    padding: 1px 10px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    & > a {
      color: #1d2023;
    }
  }
  .btn {
    font-size: 1.0em;
  }
}

.active_li {
  background-color: $backGroundWordGray;
  border-radius: 5px;
}
