#header_top {
  width: 100%;
  height: 40px;
  background-color: $bigstone;
  color: $lightgray;
  font-size: 0.85em;
  #infos {
    @include flex;
    justify-content: space-between;

    i {
      margin-right: 5px;
    }

    &_left, &_right {
      height: 100%;
      line-height: 40px;
    }
    &_left {
      p {
        color: $lightgray;
        font-weight: 400;
      }
    }
    &_right {
      li {
        display: inline-block;
        margin: 0px 10px;
      }
    }

  }
}

#navbar {
  width: 100%;
  background-color: $colorWhite;
  position: sticky;
  top: 0;
  z-index: 4;
  #navbar_container {
    @include flex;
    justify-content: space-between;
    height: $navbarHeight;
    background-color: transparent;

    #navbar_left {
      @include flex;
      align-items: center;
      img {
        height: 40px;
      }
    }
    #navbar_right {
      li > span.main_navbar {
        transition: all 0.4s ease-out;
        &:hover {
          color: $blueLagoon;
        }
      }
    }
  }
}

#header_bottom {
  width: 100%;
  height: 680px;
  overflow: hidden;
  position: relative;
  // background-color: white;
  #jumbo_select {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    & > span {
      display: block;
      cursor: pointer;
      width: 8px;
      height: 28px;
      background-color: transparent;
      margin-bottom: 5px;
      border-radius: 5px;
      border: 1px solid $blueLagoon;
      &.j_active {
        background-color: $blueLagoon;
      }
    }
  }
  .jumbotron {
    transition: all 0.4s linear;
    width: 100%;
    height: 100%;
    position: relative;
    .container {
      height: 100%;
      @include flex;
      &.jumbo_center_transition_left {
        justify-content: flex-end;
        align-items: center;
        transform: translateX(50vw);
      }
      &.jumbo_center_transition_right {
        justify-content: flex-start;
        align-items: center;
        transform: translateX(-50vw);
      }
    }
    &.carousel_right {
      transform: translateX(50%);
    }
    &.carousel_center {
      transform: translateX(0);
    }
    &.carousel_left {
      transform: translateX(-50%);
    }
    & > img {
      position: absolute;
      bottom: 116px;
      width: 100%;
      transform: scale(1.94);
    }
  }

  #jumbotron_center {
    background-color: transparent;
    text-align: center;
    margin: auto;
    width: 500px;
    z-index: 3;
    &.jumbo_center_transition_left, &.jumbo_center_transition_right {
      margin: 0;
      transform: translateX(0);
    }
    .btn {
      font-size: 1em;
      height: 42px;
      line-height: 42px;
    }
    h1 {
      margin-bottom: 10px;
      span {
        font-size: 2.0em;
        font-weight: 800;
      }
    }
    p {
      font-size: 1.2em;
      width: 90%;
      margin: 10px auto 40px;
    }
  }
}

// MEDIA QUERY

@media(max-width: 1430px) {
  #header_bottom {
    height: 596px;
    .jumbotron {
      & > img {
        transform: scale(1.94);
      }
    }
  }
}

@media(max-width: 1200px) {
  #header_bottom {
    height: 538px;
    .jumbotron {
      & > img {
        transform: scale(2.1);
      }
    }
  }
}

// ANIMATIONS-TRANSITIONS

.appear-title-enter, .appear-par-enter {
  opacity: 0;
  transform: scale(0);
}

.appear-title-enter-active {
  transition: all 0.4s ease;
  transition-delay: 0.5s;
}

.appear-par-enter-active {
  transition: all 0.4s ease;
  transition-delay: 1.5s;
}

.appear-btn-enter {
  transform: translateY(30px);
  opacity: 0;
}

.appear-btn-enter-active {
  transition: all 0.4s ease;
  transition-delay: 2.5s;
}
