main {
  z-index: -1;
}

#services {
  background-color: $greyNurse;
  width: 100%;
  // vedere se uguale per tutti
  padding: $mainPadding 0;
}

#services_container {

  // & > p:nth-child(1) {
  //   text-transform: uppercase;
  //   color: $fountainBlue;
  // }

  .btn {
    font-size: 1.1em;
  }

  #see_all {
    @include flex;
    justify-content: space-between;

    & > p {
      width: 70%;
    }
  }
}

.services_boxes {
  @include flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .box {
    width: calc(100%/3 - 20px);
    height: 230px;
    padding: 35px 30px;
    margin: 15px 0;
    border-radius: 10px;
    background-color: white;
    @include flex;
    flex-direction: column;
    justify-content: space-between;

    &_top {
      @include flex;
      justify-content: space-between;
      align-items: flex-start;
      i:nth-child(1) {
        font-size: 2.9em;
        color: $blueLagoon;
      }
      i:nth-child(2) {
        font-size: 1.4em;
        color: $fountainBlue;
        cursor: pointer;
        padding: 4px;
        border-radius: 50%;
        &:hover {
          color: $smaltBlue;
          background-color: $fountainBlue;
        }
      }
    }

    // p:nth-child(2) {
    //   font-size: 1.7em;
    // }

    // p:nth-child(3) {
    //   font-size: 1.2em;
    // }
  }
}

#the_company {
  @include flex;
  width: 100%;
  height: 750px;
  background-color: $woodSmoke;

  .company {
    height: 100%;
    width: 50%;
    span {
      color: $colorWhite;
    }
    span.background {
      background-color: #102328;
      margin-left: 0;
      margin-right: 5px;
    }

    &.left {
      padding: $mainPadding 5px;
      color: $colorWhite;
      @include flex;

      #right_item {
        width: 490px;
        margin-left: auto;
        @include flex;
        flex-direction: column;
        justify-content: space-between;
        p.sub_par {
          color: $lightgray;
          width: 95%;
        }
      }
    }
    &.right {
      background-image: url($companyImage);
      @include backgroundSize(cover);
      background-repeat: no-repeat;

    }
  }

  #company_boxes {
    @include flex;
    flex-wrap: wrap;

    .box {
      width: calc(100%/2);
      margin-bottom: 30px;
      i {
        color: $fountainBlue;
        margin-right: 5px;
      }
    }
  }
}

#actions_projects_container {
  padding: $mainPadding 0;
}

#actions_projects {
  .up_container {
    text-align: center;
  }

  #projects_boxes {
    @include flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @for $i from 1 through 6 {
      .box:nth-child(#{$i})::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        @include backgroundSize(cover);
        // transform: scale(1.1);
        // filter: blur(1px);
        background-image: url("../img/project-#{$i}.jpg");
      }
    }
    .box {
      position: relative;
      width: calc(100%/3 - 20px);
      height: 315px;
      border-radius: 10px;
      margin: 10px 0;
      overflow: hidden;
      &:hover::before {
        @include boxHover;
      }
      .box_description {
        position: absolute;
        @include flex;
        flex-direction: column;
        justify-content: space-between;
        color: $colorWhite;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        padding: 30px 0;

        &:hover {
          background-color: rgba(0,0,0,0.7);
        }

        .box_top {
          @include flex;
          justify-content: flex-end;
          padding: 0 30px;
          i {
            font-size: 1.5em;
            cursor: pointer;
            display: none;
          }
        }

        h3 {
          font-size: 1.5em;
        }

        p.sub_par {
          color: $colorWhite;
          width: 70%;
          margin: 0 auto;
          margin-top: 10px;
          display: none;
        }

        &:hover p, &:hover i {
          display: block;
        }
      }
    }

  }
}

#results {
  width: 100%;
  height: 515px;
  background-image: url($chess);
  background-repeat: no-repeat;
  background-position: center;
  @include backgroundSize(cover);
}

#results_container {
  text-align: center;
  padding: $mainPadding 0;
  color: $colorWhite;

  span {
    color: $colorWhite;
  }

  span.background {
    background-color: rgba(3,119,120,0.2);
    margin-right: 5px;
  }

  .numbers_boxes {
    @include flex;
    justify-content: space-between;
    margin-top: 90px;
    .box {
      h3 {
        font-size: 1.6em;
        font-weight: 600;
      }
      p {
        font-size: 2.5em;
        font-weight: 700;
        color: $blueLagoon;
        margin-bottom: 10px;
      }
    }
  }
}

#logos {
  width: 100%;
  height: 250px;
  background-color: $woodSmoke;
  padding: $mainPadding 0;
  &_container {
    @include flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    img {
      max-width: 100px;
      filter: contrast(1%);
    }
    img:nth-child(2) {
      max-width: 60px;
    }
  }
}

#form {
  background-color: $colorWhite;
  padding: $mainPadding 0;
  width: 100%;
  &_container {
    @include flex;
    height: 100%;
  }
  .form_details {
    &.left {
      width: 70%;
      form {
        @include flex;
        flex-wrap: wrap;
        margin: 40px 0;
        ::placeholder {
          font-size: 0.85em;
          color: $bigstone;
          font-weight: 200;
        }
        .btn {
          margin-top: 30px;
          font-size: 1.1em;
        }
        textarea, input {
          resize: none;
          color: initial;
          background-color: $greyNurse;
          outline: none;
          display: block;
          border: none;
          width: calc(50% - 20px);
          padding: 10px;
          margin: 10px 20px 10px 0;
          font-size: 20px;
          border-radius: 5px;
        }
        textarea {
          width: 100%;
        }
        .custom-select {
          position: relative;
          width: calc(50% - 20px);
          background-color: $greyNurse;
          border-radius: 5px;
          cursor: pointer;
          margin: 10px 20px 10px 0;
          height: 43px;
          padding: 0 10px;
          @include flex;
          justify-content: space-between;
          align-items: center;
          p {
            color: $bigstone;
            font-weight: 300;
            line-height: 43px;
          }
          i {
            font-size: 1.2em;
            color: $darkgray;
          }
          select {
            display: none; /*hide original SELECT element:*/
          }
        }
      }
    }
    &.right {
      width: 30%;
      margin-left: 30px;
      .btn {
        font-size: 1.1em;
        margin-left: 0;
      }
      h3, p {
        margin-bottom: 25px;
      }
      ul {
        margin: 30px 0;
      }
      li {
        margin: 15px 0;
        a {
          color: $bigstone;
          font-weight: 200;
          font-size: 1.1em;
        }
        i {
          width: 35px;
          height: 35px;
          line-height: 35px;
          border-radius: 50%;
          margin-right: 10px;
          color: $blueLagoon;
          background-color: $greyNurse;
          text-align: center;
        }
      }


    }
  }
}
