#services {
  background-color: $greyNurse;
  width: 100%;
  padding: $mainPadding 0;

  .btn {
    font-size: 1.1em;
  }

  #see_all {
    @include flex;
    justify-content: space-between;

    & > p {
      width: 70%;
    }
  }
}

.services_boxes {
  @include flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .box {
    width: calc(100%/3 - 20px);
    height: 230px;
    padding: 35px 30px;
    margin: 15px 0;
    border-radius: 10px;
    background-color: white;
    @include flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s ease-out;
    &:hover {
      transform: translateY(-7.5px);
    }
    &:hover a > i {
      color: $smaltBlue;
    }
    &:hover a > i::after {
      animation: pulse 1.5s infinite;
    }
    &_top {
      @include flex;
      justify-content: space-between;
      align-items: flex-start;
      & > i:nth-child(1) {
        font-size: 2.9em;
        color: $blueLagoon;
      }
      a > i {
        text-align: center;
        font-size: 1.4em;
        color: $fountainBlue;
        position: relative;
        cursor: pointer;
        width: 27px;
        height: 27px;
        padding: 4px;
        transition: all 0.4s ease-out;
        &::after {
          content: "";
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: -1;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: $fountainBlue;
        }
      }
    }
  }
}

@keyframes pulse {
  0% {opacity: 0; width: 100%; height: 100%;}
  1% {opacity: 1; width: 100%; height: 100%;}
  100% {opacity: 0; width: 170%; height: 170%;}
}

#about {
  @include flex;
  width: 100%;
  height: 750px;
  background-color: $woodSmoke;
  position: relative;
  #right_up_container {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
    &.results_anim {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .btn {
    font-size: 1em;
    height: 42px;
    line-height: 42px;
  }
  .bullets {
    &::before {
      content: "";
      display: block;
      background-image: url("../img/bullets.png");
      @include backgroundSize(contain);
      width: 100%;
      height: 100%;
      transform: scale(2.3);
    }
    width: 130px;
    height: 50px;
    overflow: hidden;
    position: absolute;
    top: -30px;
    left: 50%;
    filter: opacity(30%);
    transform: translateX(-50%);
  }
  .bullets:nth-last-child(2) {
    top: calc(100% - 30px);
  }

  & > img {
    position: absolute;
    top:0;
    left: 0;
    display: none;
  }

  .company {
    height: 100%;
    width: 50%;
    span {
      color: $colorWhite;
    }
    span.background {
      background-color: #102328;
      margin-left: 0;
      margin-right: 5px;
    }

    &.left {
      padding: $mainPadding 5px;
      color: $colorWhite;
      @include flex;

      #right_item {
        width: 490px;
        margin-left: auto;
        @include flex;
        flex-direction: column;
        justify-content: space-between;
        p.sub_par {
          color: $lightgray;
          width: 95%;
        }
      }
    }
    &.right {
      background-image: url($companyImage);
      @include backgroundSize(cover);
      background-repeat: no-repeat;

    }
  }

  #company_boxes {
    @include flex;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
    &.results_anim {
      transform: translateY(0);
      opacity: 1;
    }
    .box {
      width: calc(100%/2);
      margin-bottom: 30px;
      i {
        color: $fountainBlue;
        margin-right: 5px;
      }
    }
  }

  #button_container {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s;
    &.results_anim {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

#actions_projects_container {
  padding: $mainPadding 0;
}

#projects {
  .up_container {
    text-align: center;
  }

  &_boxes {
    @include flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    .box-item {
      // è scritto sotto cosi l'animazione funge
      & > img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transition: all 0.2s ease-out;
      }
      &:hover > img {
        @include boxHover;
      }

      &:hover .box_description .box_bottom {
        transform: translateY(-15px);
      }

      &:hover .box_description p.sub_par {
        opacity: 1
      }

      .box_description {
        position: absolute;
        @include flex;
        flex-direction: column;
        justify-content: space-between;
        color: $colorWhite;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        padding: 30px 5px;

        &:hover {
          background-color: rgba(0,0,0,0.7);
        }

        .box_top {
          @include flex;
          justify-content: flex-end;
          padding: 0 30px;
          i {
            font-size: 1.5em;
            cursor: pointer;
            opacity: 0;
            color: $colorWhite;
            transition: all 0.4s ease-out;
          }
        }
        .box_bottom {
          transform: translateY(40px);
          transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1);
        }

        h3 {
          font-size: 1.5em;
        }

        p.sub_par {
          color: $colorWhite;
          width: 70%;
          margin: 0 auto;
          margin-top: 10px;
          line-height: 20px;
          opacity: 0;
          transition: all 0.3s cubic-bezier(0.645,0.045,0.355,1);
        }

        &:hover i {
          opacity: 1;
        }
      }
    }

  }
}

#results {
  width: 100%;
  height: 515px;
  background-image: url($chess);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  @include backgroundSize(cover);
}

#results_container {
  text-align: center;
  padding: $mainPadding 0;
  color: $colorWhite;

  span {
    color: $colorWhite;
  }

  span.background {
    background-color: rgba(3,119,120,0.2);
    margin-right: 5px;
  }

  #numbers_boxes {
    @include flex;
    justify-content: space-between;
    margin-top: 90px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.5s;
    &.results_anim {
      transform: translateY(0);
      opacity: 1;
    }
    .box {
      h3 {
        font-size: 1.6em;
        font-weight: 600;
      }
      p {
        font-size: 2.5em;
        font-weight: 700;
        color: $blueLagoon;
        margin-bottom: 10px;
      }
    }
  }
}

#logos {
  width: 100%;
  height: 250px;
  background-color: $woodSmoke;
  padding: $mainPadding 0;
  &_container {
    @include flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    img {
      max-width: 100px;
      filter: contrast(1%);
    }
    img:nth-child(2) {
      max-width: 60px;
    }
  }
}

#form {
  background-color: $colorWhite;
  padding: $mainPadding 0;
  width: 100%;
  &_container {
    @include flex;
    height: 100%;
  }
  .form_details {
    &.left {
      width: 70%;
      form {
        @include flex;
        flex-wrap: wrap;
        margin: 40px 0;
        ::placeholder {
          font-size: 0.85em;
          color: $bigstone;
          font-weight: 200;
          font-family: 'Montserrat', sans-serif;
        }
        .btn {
          margin-top: 30px;
          font-size: 1.1em;
        }
        textarea, input {
          resize: none;
          color: initial;
          background-color: $greyNurse;
          outline: none;
          display: block;
          border: none;
          width: calc(50% - 20px);
          padding: 10px;
          margin: 10px 20px 10px 0;
          font-size: 20px;
          border-radius: 5px;
        }
        textarea {
          width: 100%;
        }
        select {
          appearance: none;
          outline: none;
          background: url("../img/chevron-down-solid.svg") 95% center no-repeat $greyNurse;
          background-size: auto 35%;
          border: none;
          width: calc(50% - 20px);
          padding: 10px;
          height: 43px;
          margin: 10px 20px 10px 0;
          font-size: 1.2em;
          color: $bigstone;
          font-weight: 200;
          font-family: 'Montserrat', sans-serif;
        }
      }
    }
    &.right {
      width: 30%;
      margin-left: 30px;
      .btn {
        font-size: 1.1em;
        margin-left: 0;
      }
      h3, p {
        margin-bottom: 25px;
      }
      ul {
        margin: 30px 0;
      }
      li {
        margin: 15px 0;
        a {
          color: $bigstone;
          font-weight: 200;
          font-size: 1.1em;
        }
        i {
          width: 35px;
          height: 35px;
          line-height: 35px;
          border-radius: 50%;
          margin-right: 10px;
          color: $blueLagoon;
          background-color: $greyNurse;
          text-align: center;
        }
      }


    }
  }
}

// va scritto cosi tutto insieme altrimenti non va!
.box-item {
  overflow: hidden;
  border-radius: 10px;
  width: calc(100%/3 - 20px);
  height: 315px;
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 10px 0;
  opacity: 1;
  transform: scale(1);
}

.box-enter, .box-leave-to {
  transform: scale(0);
  opacity: 0;
}

.box-leave-active {
  transform: translateY(0px);
  transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
