@mixin centered {
  width: $mainWidth;
  margin: auto;
}

@mixin flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

@mixin backgroundSize($bckgSize) {
  background-size: $bckgSize;
  -webkit-background-size: $bckgSize;
  -moz-background-size: $bckgSize;
  -o-background-size: $bckgSize;
}

@mixin boxSizing {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin clearfix {
  &::after {
    clear: both;
    display: table;
    content: "";
  }
}

@mixin spanBackground($colorOne, $colorTwo) {
  color: $colorOne;
  background-color: $colorTwo;
}
