$mainWidth: 1000px;
$lightgray: #bcbebc;
$fontSizeMain: 14px;
$colorWhite: #FFFFFF;
$blueLagoon: #038484;
$fountainBlue: #52bbba;
$jumboImage: "../img/bg-parallax.png";
$companyImage: "../img/about-4.jpg";
$greyNurse: #eef1ed;
$navbarHeight: 70px;
$bigstone: #1e2d36;
$smaltBlue: #56808e;
$backGroundWordGray: #cfe3e4;
$mainPadding: 90px;
