// COLORS
$lightgray: #bcbebc;
$colorWhite: #FFFFFF;
$darkgray: #55626A;
$woodSmoke: #111117;
$footerBlack: #0F0F12;
$bigstone: #1e2d36;
$smaltBlue: #56808e;
$backGroundWordGray: #cfe3e4;
$blueLagoon: #038484;
$fountainBlue: #52bbba;
$greyNurse: #eef1ed;
// DIMENSIONS
$navbarHeight: 70px;
$mainPadding: 90px;
$mainWidth: 1000px;
$fontSizeMain: 14px;
// IMAGES
$jumboImage: "../img/bg-parallax.png";
$companyImage: "../img/about-4.jpg";
$chess: "../img/bg-7.jpg";
